body {
  background-color: #1b6c86;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  align-content: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.header_logo,
.copyright,
.website_intro,
.cr_sub,
ul {
  color: #f3f2f7;
}

a {
  text-decoration: none;
  color: #f3f2f7;
}

.header_logo {
  font-size: 24px;
}
.header {
  display: flex;
  background-color: #1b6c86;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  padding-left: 20%;
  padding-right: 20%;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: auto;
}

.website_intro {
  display: flex;
  background-color: #1b6c86;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 20%;
  gap: 64px;
}

.signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: max-content;
}

.awesome {
  display: flex;
  font-size: 48px;
  font-weight: 900;
}

.subawesome {
  display: flex;
  font-size: 18px;
}

.introimage {
  display: flex;
  height: 200px;
  border-radius: 33px;
}

button {
  background-color: #f25939;
  border-radius: 10px;
  border-style: none;
  color: #f3f3f7;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  width: 150px;
}

.random_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f3f2f7;
  margin: 0;
  padding-top: 64px;
  padding-bottom: 64px;
  flex-grow: 1;
  color: #292929;
  padding-left: 15%;
  padding-right: 15%;
}

.info_title {
  font-weight: 900;
  font-size: 36px;
}

.info_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #292929;
  width: 100%;
  gap: 20px;
}

.info_image_text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.info_image {
  width: 200px;
  border-radius: 25px;
  border-style: solid;
  border-color: #875142;
}

.info_text {
  text-align: center;
  width: 200px;
}

.inspiration_container {
  padding: 32px 10%;
  background: #fdb0a1;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 80px 20%;
}

.quote_subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.quote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.attribution {
  font-size: 24px;
  font-weight: 700;
  margin-left: auto;
}

.call_container {
  margin: 0;
  background-color: #f3f2f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20%;
}

.call_box {
  margin: 25px 0;
  padding: 20px 50px;
  border-radius: 5px;
  background-color: #f25939;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: fit-content;
  gap: 32px;
}

.calltext_container {
  color: #f3f2f7;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
}

.call_header {
  font-size: 36px;
  font-weight: 900;
}

.call_subtext {
  font-size: 18px;
}

.call_subsubtext {
  font-size: 14px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #1b6c86;
  padding: 10px 10%;
  flex-grow: 0;
}

.cr_sub {
  font-size: small;
}

.signupbutton2 {
  border-style: solid;
  border-width: 1px;
  border-color: #f3f2f7;
}
